a:link, a:visited {
  color: black;
  text-decoration-line: none;
}

pre {
  display: inline;
}

input:focus {
  outline: none;
}

input {
  padding-left: 5px;
}

html, body {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  padding-top: 10px;
}

header {
  background-color: white;
  height: 160px;
}

#top_nav {
  float: right;
  width: 1100px;
  margin: 0 auto;
  height: 21px;
  font-size: 11px;
  line-height: 22px;
  margin-bottom: 5px;
  /*이 아래는 유저불량에 따른 float right 해결을 위한 불필요한 부분임*/
  position: relative;
  left: 570px;
}

#top_nav a:visited, #top_nav a:link {
  text-decoration-line: none;
  color: #888;
}

#naver_top {
  letter-spacing: -0.3px;
}

#ju {
  color: blue;
  font-size: 11px;
}

#ni {
  color: rgb(255, 171, 9);
  font-size: 11px;
}

#ver {
  color: red;
  font-size: 11px;
}

#naver {
  color: rgb(138, 230, 22);
  font-size: 11px;
}

#happy {
  color: rgb(176, 247, 95);
}

#bin {
  color: grren;
}

#logo_section {
  width: 1100px;
  height: 96px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 220px;
  height: 70px;
}

#search {
  float: left;
  width: 475px;
  height: 41px;
  border: 2px solid rgb(31, 194, 22);
  margin-top: 12px;
  margin-left: 10px;
}

#input {
  padding: 12px;
  line-height: normal;
  height: 18.5px;
  width: 460px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}

#logo_search {
  background-color: rgb(31, 194, 22);
  font-size: 1em;
  width: 45px;
  height: 45px;
  margin-top: 12px;
  display: inline-table;
  float: left;
}

#logo_search span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

#top_menu {
  width: 1100px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
}

.green {
  color: rgb(31, 194, 22);
  font-weight: bold;
}

.top_menu1 {
  float: left;
  padding: 13px 3px 13px 5px;
  margin-bottom: 10px;
}

.top_menu2 {
  float: left;
  padding: 13px 5px 13px 5px;
  font-weight: bold;
}

#top_menu2 {
  padding: 17px 5px 13px 5px;
  float: left;
}

.top_menu3 {
  float: right;
  padding: 13px 2px 13px 5px;
}

main {
  width: 100%;
  height: 1500px;
  padding: 4px 5px 5px 5px;
  background-color: #f2f3f5;
  border-top: 0.2px solid rgb(167, 167, 167);
  margin-top: 10px;
  border-bottom: 0.2px solid rgb(167, 167, 167);
  position: relative;
}

#ad_main {
  position: relative;
  left: -299px;
  width: 740px;
  height: 120px;
  margin: 4px 0px 5px 0px;
  float: left;
  background-image: url('./image/heroes of the storm.jpg');
  background-size: 720px 120px;
}

#login_section {
  position: relative;
  left: 757px;
  top: -130px;
  width: 332px;
  height: 120px;
  margin: 4px 5px 5px 0px;
  float: left;
}

#login_section>form {
  margin: 16px 0 8px 16px;
  width: 220px;
  height: 67px;
  float: left;
}

#ip {
  width: 217px;
  height: 67px;
  float: left;
}

.login {
  width: 137px;
  height: 25px;
  margin: 0 0 0 0;
  background-color: #f9fafc;
  border: 1px solid #dee3eb;
  padding: 5px 0 2px 11px;
  font-size: 12px;
  color: #666;
  float: left;
}

#login {
  width: 67px;
  height: 67px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(31, 194, 22);
  float: right;
}

#pop {
  width: 78px;
  height: 34px;
  float: left;
  margin-left: 2px;
  margin-top: 16px;
}

.pop {
  width: 75px;
  height: 32px;
  border: solid 1px #f1f3f6;
  background: #fff;
  color: #888;
  text-align: center;
  font-size: 11px;
  line-height: 32px;
  float: left;
}

.pop a {
  color: #888;
}

#pop div:last-child {
  border-top: none;
}

#form-login_option {
  margin-left: 14px;
}

#form-login_option>input {
  display: inline-block;
  background-color: white;
  width: 14px;
  height: 14px;
  border: 2px solid #bcbcbc;
  border-radius: 0 0 0 0;
  cursor: pointer;
}

#div-login_option a {
  font-size: 12px;
  color: #888;
  margin-left: 5px;
  margin-top: 3px;
  letter-spacing: -0.5px;
  text-decoration: none;
}

#div-login_option a:hover {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: underline;
}

#news {
  position: relative;
  left: -335px;
  width: 740px;
  height: 44px;
  margin: 4px 5px 5px 0px;
  float: left;
  display: table;
}

#news>div {
  display: table-cell;
  vertical-align: middle;
  overflow: visible;
}

#news>div+pre {
  font-size: 12px;
  font-weight: normal;
}

#news>div>pre {
  font-size: 15px;
  display: inline;
  font-weight: bold;
}

.new {
  text-align: center;
  font-size: 12.7px;
  color: rgb(139, 138, 138);
  font-weight: bold;
}

#day {
  position: relative;
  top: -54px;
  left: 418px;
  width: 332px;
  height: 140px;
  margin: 4px 5px 5px 0px;
  float: left;
}

#day-div_top {
  width: inherit;
  height: 33px;
  padding-left: 15px;
  border-bottom: 1px solid #ebeef3;
}

#day-div_top-span_cal {
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: bolder;
}

.day-div_top-span_topic {
  font-size: 12px;
  color: #888;
}

#day-div_top-span_baton {
  font-size: 17px;
}

.day-botton {
  width: 33px;
  height: 11px;
  padding: 6px 0 16px 0;
  margin-left: 1px;
  border-left: 1px solid #ebeef3;
  text-align: center;
}

.day-div_top-span_order {
  padding-top: 7px;
  padding-right: 3px;
  font-size: 13px;
  color: #888;
  font-weight: bold;
  letter-spacing: -1px;
}

.go_left {
  position: relative;
  left: -15px;
}

#day-div_last {
  width: 300px;
  height: 66px;
  padding: 22px 15px 18px 15px;
}

.day-div_last-span_1 {
  font-size: 12px;
  color: #222;
  padding-bottom: 5px;
  line-height: 16px;
}

.day-div_last-span_2 {
  font-size: 12px;
  color: #2565d0;
  padding-bottom: 5px;
  line-height: 16px;
}

.day-div_last-span_3 {
  font-size: 16px;
  color: #222;
  padding-left: 1px;
  padding-bottom: 12px;
  font-weight: 700;
}

.day-div_last-span_4 {
  font-size: 16px;
  color: #2565d0;
  padding-left: 1px;
  padding-bottom: 12px;
  font-weight: 700;
}
.day-div_last-span_5{
  color: #888;
  font-size: 12px;
  line-height: 16px;
}
.day-div_last-span_6{
  color: #2565d0;
  font-size: 12px;
  line-height: 16px;
}

#news_table {
  position: relative;
  top: -150px;
  left: 5px;
  width: 738px;
  height: 244px;
  margin: 4px 5px 5px 0px;
  float: left;
}

#ad_nav1 {
  position: relative;
  top: -55px;
  left: 12px;
  width: 332px;
  height: 150px;
  margin: 4px 5px 5px 0px;
  background-image: url('./image/나무위키.png');
  background-size: 332px 150px;
  float: left;
}

#topic {
  position: relative;
  top: -150px;
  left: 5px;
  width: 738px;
  height: 882px;
  margin: 4px 5px 5px 0px;
  float: left;
}

#ad_nav2 {
  position: relative;
  top: -150px;
  left: 13px;
  width: 330px;
  height: 882px;
  margin: 4px 5px 5px 0px;
  float: left;
}

#topic2 {
  position: relative;
  top: -150px;
  left: 5px;
  width: 738px;
  height: 128px;
  margin: 4px 5px 5px 0px;
  float: left;
}

#ad_nav3 {
  position: relative;
  top: -150px;
  left: 12px;
  width: 332px;
  height: 130px;
  margin: 4px 5px 5px 0px;
  background-image: url('./image/namu_Empire.jpg');
  background-size: 332px 130px;
  float: left;
}

footer {
  width: 1100px;
  height: 203px;
  margin-left: auto;
  margin-right: auto;
}

.al_ico {
  display: inline-block;
  margin-left: 5px;
  width: 4px;
  height: 7px;
  font-size: 4px;
}

.clear {
  clear: both;
}

.clear_left {
  clear: left;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f3f5;
}

.border1 {
  width: 100%;
  border-top: 0.3px solid rgba(212, 212, 212, 0.43);
}

.border2 {
  border: 1px solid #dee3eb;
  background-color: white;
}

.margin {
  margin-left: auto;
  margin-right: auto;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}
