a:link, a:visited {
  color: black;
  text-decoration-line: none;
}

html, body {
  width: 100%;
  margin: 0 0 0 0px;;
}

body {
  padding-top: 10px;
}

header {
  background-color: white;
  width: 1100px;
  height: 160px;
}

#top_nav {
  float: right;
  width: 250px;
  height: 21px;
  font-size: 11px;
  line-height: 22px;
  margin-bottom: 5px;
}

#top_nav a:visited, #top_nav a:link {
  text-decoration-line: none;
  color: #888;
}

#naver_top {
  letter-spacing: -0.3px;
}

#ju {
  color: blue;
  font-size: 11px;
}

#ni {
  color: rgb(255, 171, 9);
  font-size: 11px;
}

#ver {
  color: red;
  font-size: 11px;
}

#naver {
  color: rgb(138, 230, 22);
  font-size: 11px;
}

#happy {
  color: rgb(176, 247, 95);
}

#bin {
  color: grren;
}

#logo_section {
  width: 1100px;
  height: 96px;
}

#logo {
  float: left;
  width: 220px;
  height: 70px;
}

#search {
  float: left;
  width: 475px;
  height: 41px;
  border: 2px solid rgb(31, 194, 22);
  margin-top: 12px;
  margin-left: 10px;
}

#input {
  padding: 12px;
  line-height: normal;
  height: 18.5px;
  width: 460px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}
#logo_search{
  background-color: rgb(31, 194, 22);
  font-size: 1em;
  width: 45px;
  height: 45px;
  margin-top: 12px;
  display: inline-table;
  float: left;


}
#logo_search span{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
#input:focus {
  outline: none;
}

#top_menu {
  width: 1100px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
}
.green{
  color: rgb(31, 194, 22);
  font-weight: bold
}
.top_menu1 {
  float: left;
  padding: 13px 3px 13px 5px;
  margin-bottom: 10px;
}
.top_menu2 {
  float: left;
  padding: 13px 5px 13px 5px;
  font-weight: bold;
}

#top_menu2 {
  padding: 17px 5px 13px 5px;
  float: left;
}

.top_menu3 {
  float: right;
  padding: 13px 2px 13px 5px;
}

main {
  width: 100%;
  height: 1466px;
  /*position: relative;*/
  padding: 5px 5px 5px 5px;
  background-color: #f2f3f5;
  border-top: 0.2px solid rgb(167, 167, 167);
  margin-top: 10px;
  border-bottom: 0.2px solid rgb(167,167,167);
}
#TLAD{
  /*position: relative;*/
  /*left: -300px;*/
  display: inline-block;
  margin: 4px 5px 5px 0px;
  width: 740px;
  height: 120px;
  background-color: black;
  float: left;
}
#login_section{
  /*position: absolute;*/
  /*left: 764px;*/
  /*top: 8px;*/
  float: left;
  /*margin: 5px 5px 5px 0px;*/
  width: 332px;
  height: 120px;
  background-color: black;
}
#test{
  float: left;
  width: 332px;
  height: 120px;
  background-color: red;
}
#news{
  width:740px;
  background-color: green;
}


footer {
  width: 1100px;
  height: 203px;
  margin-left: auto;
  margin-right: auto;
}





.bar {
  margin: 5px 4px 0 9px;
  width: 1px;
  height: 11px;
  background: #ebeef3 font-size: 5px;
}

.al_ico {
  display: inline-block;
  margin-left: 5px;
  width: 4px;
  height: 7px;
  font-size: 4px;
}

.clear {
  clear: both;
}

.clear_left {
  clear: left;
}

.gray {
  background-color: #f2f3f5;
  width: 100%;
  border-top: 0.2px solid rgb(167, 167, 167);
  margin-top: 10px;
  border-bottom: 0.2px solid rgb(167,167,167);
}
.container{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
background-color: #f2f3f5
}
.border1 {
  width: 100%;
  border-top: 0.3px solid rgb(212, 212, 212);
}

.margin {
  margin-left: auto;
  margin-right: auto;
}
hr{
  width: 100%;
}
